
.row {
    height: 100vh; 
  }
  
  .min-vh-100 {
    min-height: 100vh; 
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: hsl(318, 100%, 50%);
    color: white;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .page-header {
    margin: 0;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  